
.positionDiv {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
}
.feedCreating {
    /*position: absolute;*/
    align-self: center;
	width: 500px;
	/*border: 1px solid grey;*/
	cursor: default;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
    background-color: white;
}

/*Шапка*/

.FeedHeaderCreate {
	display: flex;
	align-items: center;
    height: 60px;
    background-color: #3e4b56;
}
.FeedHeaderCreate img {
	height: 20px;
	width: 20px;
	margin-left: 255px;
	cursor: pointer;
}

.FeedHeaderTittle {
	display: flex;
	flex-direction: inherit;
    font-size: 24px;
	margin-left: 20px;
	color: white;
}
.FeedHeaderTittle:before {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 5px;
	background-image: url("../media/createFeed/UserFeedEdit.png");
	background-size: cover;
}

/*Имя*/

.feedCreatingName {
	margin: 20px 0 0 0;
	display: flex;
	
}

.feedCreatingName span {
	margin: 0px 20px 0 20px;
	font-size: 21px;
}

.feedCreatingName input {
	width: 350px;
	height: 25px;
	padding: 0 0 0 5px;
	border: 1px solid black;
	border-radius: 2px;
	cursor: text;
}

/*Дополнительные настройки*/

.feedCreatingOptions {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#advancedOptions {
	font-size: 20px;
	margin-bottom: 20px;
	cursor: pointer;
}

#advancedOptions:after {
	content: "";
	display: inline-block;
	height: 8px;
	width: 7px;
	margin: 5px 0 0 5px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url("../media/createFeed/arrow.png");
}

.advancedOptionsClass:after {
	transform: rotate(180deg);
}

#feedCreatingNameError{
	display: flex;
	justify-content: center;
	margin: 0 0 5px 0;
	color: red;
}

#feedCreatingErrorSpan{
	visibility: hidden;
}

#advancedOptionsShow {
	overflow: hidden;
	transition: 0.25s linear;
	flex-direction: column;
	width: 75%;
}

.showBlocks {
	display: flex;
	margin-bottom: 20px;
	margin-left: 20px;
}

.showBlock1 span {
	width: 75px;
	font-size: 21px;
	margin-right: 20px;
}
.showBlock1 select {
	width: 240px;
	border: 1px solid black;
	border-radius: 2px;
}
.showBlock1 option {
	font-size: 15px;
}

.showBlock2 span {
	font-size: 21px;
}
.showBlock2 input {
	width: 55px;
	height: 25px;
	padding: 2px 2px 0px 2px;
	font-size: 15px;
	border: 1px solid black;
	margin: 0 0 0 10px;
}
.showBlock2 select {
	width: 50px;
	font-size: 15px;
	margin: 0 0 0 5px;
	border: 1px solid black;
}
.showBlock2 option {
	font-size: 15px;
}

.feedCreatingButtons {
	display: flex;
	justify-content: flex-end;
	margin: 0 20px 0 0;
}
.feedCreatingButtons button {
	height: 40px;
	font-size: 20px;
	color: white;
	border-radius: 10px;
	padding: 5px 15px;
	cursor: pointer;
	background-color: #3e4b56;
	margin-bottom: 20px;
}